.root
  width: 310px
  position: relative
  border-radius: 10px
  font-size: 16px
  transition: all 0.1s ease-in-out
  border: 1px solid transparent
  background-color: rgba(0, 0, 0, 0.05)

  svg
    position: absolute
    top: 8px
    left: 12px
    opacity: 0.3
    z-index: 3

  input
    width: 100%
    height: 40px
    border-radius: 10px
    font-size: 16px
    padding: 0 20px 0 40px


    &:hover,
    &:focus
      background-color: #fff
      border-color: darken(#fff4e2, 15%)
      box-shadow: 0 0 0 3px rgb(229 160 64 / 12%)

.inputBase
  width: 100%


